@use '../../helpers' as *;

.for-whom {

  &__inner {
    padding-top: rem(61);
  }

  &__header, &__item {
    display: grid;
    grid-template-columns: 400fr 353fr 331fr;

    @include mobile {
      grid-template-columns: 1fr;
      padding-inline: rem(15);
    }
  }

  &__header {
    color: var(--color-light);
    padding-block: rem(52);
    background: var(--color-blue);
    border-radius: var(--radius-medium);
    margin-bottom: rem(13);

    p:nth-child(1) {
      padding-inline: rem(52);
    }
    p:nth-child(2) {
      padding-inline: rem(43) rem(23);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: rem(12);
  }

  &__name {
    margin-bottom: rem(5);
  }

  &__item {
    border: var(--border);
    border-radius: var(--radius-medium);
    padding-block: rem(20);

    &:nth-child(odd) {
      background-color: #1E4EBD05;
    }
    &:nth-child(even) {
      background-color: #1E4EBD02;
    }

    .first-column, .second-column {

      @include mobile-above {
        display: flex;
        align-items: center;
        border-right: var(--border);
      }

      @include mobile {
        margin-bottom: rem(10);
        padding-bottom: rem(10);
        border-bottom: var(--border);
      }
    }

    @include mobile-above {

      .first-column {
        padding-inline: rem(52);
      }
      .second-column {
        padding-inline: rem(43) rem(23);
      }
    }
  }

  &__modules {
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);
    align-items: center;

    @include mobile-above {
      padding-inline: rem(31) rem(41);
    }
  }

  &__module {
    flex: 0 1 calc(50% - #{rem(5)});
    max-width: 100%;
    padding-inline: rem(15);
    background: var(--color-accent);
    border-radius: var(--radius-big);
    height: rem(39);
    white-space: nowrap;
  }
}