include ../common/hero

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title
            block title
                | Page title
    body
        include ../common/burger-menu

        block hero

        main
            block content

        include ../common/footer

        script(type="module" src="/src/scripts/main.js")
