include ../common/section-title

section.for-whom.section.pt
    div.for-whom__inner.section__inner.container
        +section-title('Для кого')

        div.for-whom__header.text-w700.hidden-mobile
            p Функционал решения
            p Кому нужно

        ul.for-whom__list
            each item in forWhom
                li.for-whom__item
                    div.for-whom__column.first-column
                        div.for-whom__name.text-w700.visible-mobile Функционал решения
                        p= item.firstText
                    div.for-whom__column.second-column
                        div.for-whom__name.text-w700.visible-mobile Кому нужно
                        p= item.secondText

                    .for-whom__modules
                        each _, index in Array(item.modules)
                            span.for-whom__module.flex-center= `Модуль ${index + 1}`
