extends ../components/layouts/base.pug

block title
    | Главная

block content
    include ../components/blocks/appointment

    include ../components/blocks/economic-effect

    include ../components/blocks/for-whom