
div.banner.container
    div.banner__inner.text-w700
        p.banner__title.h2
            span.color-accent Градента
            |  - российская платформа решений по управлению строительством с использованием искусственного интеллекта

        p.banner__subtitle.h3 Подготовка данных для формирования графиков и календарно-сетевых моделей СМР

        p.banner__text.h4 Разработано инженерами для инженеров

        div.banner__btn-bar.flex
            a(href="#").banner__btn.dark.h6.text-w700 Получить демонстрацию
            a(href="#").banner__btn.accent.h6.text-w700 Скачать презентацию