@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: clamp(
            16px,
            calc(16px + (100vw - 1920px) / 100),
            20px
    );
  }
}

body {
  @include fluid-text(18, 16);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-dark);
  background-color: var(--color-light-alt);
}

main {
  flex-grow: 1;
}

h1, .h1 {
  @include fluid-text(40, 28);
}

h2, .h2 {
  @include fluid-text(35, 24);
}

h3, .h3 {
  @include fluid-text(22, 18);

  line-height: 100%;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

button[disabled] {
  cursor: default;
  pointer-events: none;
}