@use '../helpers' as *;

.burger-menu {
  top: rem(90);
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-light-alt);
  transform: translateX(100%);
  opacity: 0;
  padding: rem(30) var(--container-padding-x);
  transition:
          transform var(--transition-duration),
          opacity var(--transition-duration);

  @include mobile {
    top: rem(75);
  }

  @media (min-width: 1023px) {
    display: none !important;
  }

  &.is-active {
    transform: translateX(0);
    opacity: 1;
  }

  &__list {
    gap: rem(12);
  }

  &__links {
    padding-left: rem(12);

    &-item:not(:last-child) {
      margin-bottom: rem(5);
    }
  }
}