@use '../helpers' as *;

.burger-menu {
  top: rem(100);
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-light-alt);
  transform: translateX(100%);
  opacity: 0;
  padding: rem(30) var(--container-padding-x);
  transition:
          transform var(--transition-duration),
          opacity var(--transition-duration);

  &.is-active {
    transform: translateX(0);
    opacity: 1;
  }

  &__close {
    top: rem(30);
    right: var(--container-padding-x);
  }

  &__list {
    gap: rem(12);
  }

  &__links {
    padding-left: rem(12);

    &-item:not(:last-child) {
      margin-bottom: rem(5);
    }
  }
}