@use '../helpers' as *;

.section {

  &:not(.pt) .section__inner {

    @include tablet {
      padding-block: rem(50) !important;
    }

    @include mobile {
      padding-block: rem(30) !important;
    }
  }

  &.pt .section__inner {

    @include tablet {
      padding-top: rem(50) !important;
    }

    @include mobile {
      padding-top: rem(30) !important;
    }
  }

  &__title {
    color: var(--color-blue);
    margin-bottom: fluid(80, 40);

    &::after {
      @include abs-x;

      content: '';
      top: calc(100% + #{fluid(30, 10)});
      width: rem(300);
      height: rem(8);
      border-radius: var(--radius-regular);
      background: var(--orange-blue-gradient);

      @include mobile {
        height: rem(6);
        width: min(100%, #{rem(300)});
      }
    }

    &:not(.text-center) {
      margin-bottom: fluid(45, 30);
      width: fit-content;

      &::after {
        top: calc(100% + #{fluid(20, 10)});
        width: min(100%, #{rem(300)});
      }
    }
  }
}